---
import Layout from "../../Layout.astro";
---
<Layout title="Resources Library">
  <h1>Resources Library</h1>
  <ul>
    <li>ACR, The NADCA Standard (2021)</li>
    <li>EPA: Mold Remediation in Schools & Commercial Buildings</li>
    <li>NAIMA AH‑122: Cleaning Fibrous Glass Insulated Air Duct Systems</li>
    <li>SMACNA: HVAC Cleanliness for New Construction (overview)</li>
  </ul>
</Layout>
