/* CSS File 
  ===================
  Item Name: Selector - pricing tables and plans
  Author: Charles H
  Version: 2.0
  Copyright 2025
===================*/
/*------------------------------------------------------------------
  [ Master css file, Table of contents ]
  
  01. General css
  02. Start Pricing plan style 1
  03. Start Pricing plan style 2
  04. Start Pricing plan style 3
  05. Start Pricing plan style 4
  06. Start Pricing plan style 5
  07. Start Pricing plan style 6
  
------------------------------------------------------------*/
/*------------------------------------------------------------------
  # [Color codes]
  

  01. Design-6 colors
    - background: linear-gradient(135deg, #fe0000, #fe0000);
    - background: linear-gradient(135deg, #0000fe, #010080);
# */
/*------------------------------------------------------------------
  [Typography]
  
  Body copy:      font-family: 'Lato', sans-serif;
-------------------------------------------------------------------*/
/*==============
  [00] Page General css
=================*/
body {
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif; }

h2 {
  margin-top: -5px;
  font-weight: 600;
  color: #555; }

.global-title {
  color: #fff; }

.global-title-p {
  padding-bottom: 20px; }

.pp-section {
  padding: 100px 0 85px 0; }

.section-header {
  margin-bottom: 35px; }
  .section-header p {
    color: #777; }

.section-bg {
  background-color: #fbfbfb; }

.section-bg-img {
  background-image: url(../img/plan-bg-4.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5); }

.plan-padding {
  padding: 0 1px; }

.plan-margin {
  margin-right: 1px; }

.plan-header .plan-title {
  font-family: "Lato", sans-serif; }

.plan-price .price {
  font-family: "Lato", sans-serif; }

.plan-list li {
  font-family: "Lato", sans-serif; }

.plan-button {
  font-family: "Lato", sans-serif; }

.txt-light {
  opacity: .2 !important; }

.btn-disable {
  opacity: .2 !important;
  cursor: no-drop; }


/* Start Pricing plan style 6 */
.plan-style-6-back, .plan-style-6-active {
  background: linear-gradient(135deg, #4646ff, #01005a) !important; }

.plan-style-6-back-active {
  background: linear-gradient(135deg, #fe0000, #5d0000) !important; }

.plan-style-6 {
  margin: 0 auto 30px auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: linear-gradient(135deg, #fff, #4c0000);
  box-shadow: 0px 0px 30px #eee;
  position: relative;
  border-radius: 30px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .plan-style-6:hover {
    box-shadow: 0px 0px 30px #ccc;
    transform: scale(1.01); }
  .plan-style-6 .plan-header {
    padding: 25px 0 20px 0;
    position: relative;
    z-index: 1; }
    .plan-style-6 .plan-header:after {
      background: transparent linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent) repeat scroll 0 0;
      content: '';
      margin: auto;
      position: absolute;
      height: 2px;
      width: 70%;
      bottom: 0;
      left: 0;
      right: 0; }
    .plan-style-6 .plan-header .plan-label {
      font-size: 14px;
      line-height: 40px;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      width: 281px;
      text-align: center;
      display: block;
      position: absolute;
      right: -100px;
      top: 15px;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(45deg);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
    .plan-style-6 .plan-header .plan-label-front {
      background: linear-gradient(135deg, #ff1616, #460000) !important; }
    .plan-style-6 .plan-header .plan-label-back {
      background: linear-gradient(135deg, #0000fe, #010080) !important; }
    .plan-style-6 .plan-header .plan-icon {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 20px 0 30px 0;
      width: 100px;
      height: 100px;
      display: block;
      background-image: url("../img/cal-month.png");
      background-size: 100%;
      background-repeat: no-repeat;
      color: #fff;
      font-size: 35px; }
.plan-style-6 .plan-header .plan-icon2 {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 20px 0 30px 0;
      width: 100px;
      height: 100px;
      display: block;
      background-image: url("../img/cal-year.png");
      background-size: 100%;
      background-repeat: no-repeat;
      color: #fff;
      font-size: 35px; }
    .plan-style-6 .plan-header .plan-title {
      margin: 101px 0 -3px 0;
      line-height: 41px;
      font-size: 22px;
      color: #f7f7f7;
      font-weight: 400;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
  .plan-style-6 .plan-price {
    position: relative; }
    .plan-style-6 .plan-price .price {
      margin-bottom: 0;
      padding: 0;
      font-size: 55px;
      font-weight: 900;
      line-height: 45px;
      color: #fff;
      position: relative;
      z-index: 1; }
      .plan-style-6 .plan-price .price span {
        padding: 0 5px;
        font-size: 16px;
        font-weight: 400;
        color: #fff; }
  .plan-style-6 .plan-list {
    margin-bottom: 0;
    padding: 17px 0 20px 0;
    position: relative;
    z-index: 1; }
    .plan-style-6 .plan-list li {
      margin: 0 30px;
      position: relative;
      list-style-type: none;
      font-size: 14px;
      color: #ececec;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 0.02rem; }
    .plan-style-6 .plan-list .tooltip-info {
      cursor: pointer; }
    .plan-style-6 .plan-list .tooltip-hover-text {
      color: #fff;
      font-weight: 600;
      border-bottom: 1px dotted #fff; }
  .plan-style-6 .tooltip-info .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    letter-spacing: 0.02rem;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    bottom: 35px;
    left: 20%;
    margin-left: -60px; }
    .plan-style-6 .tooltip-info .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent; }
  .plan-style-6 .tooltip-info:hover .tooltiptext {
    visibility: visible; }
  .plan-style-6 .plan-bottom {
    padding: 27px 0 40px 0;
    position: relative;
    overflow: hidden;
    z-index: 1; }
  .plan-style-6 .plan-button {
    padding: 13px 30px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    background-size: 300% 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    border: 1px solid transparent;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .plan-style-6 .plan-button:hover {
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }

/* End Pricing plan style 6 */

/*# sourceMappingURL=pricing-tables.css.map */
